.example-spacer {
    flex: 1 1 auto;
  }

 
  #navMenu{
    color: yellow;
    background-color: darkblue;
  }

  @media(min-width:300px) and (max-width:700px){
    mat-toolbar{
      background-color: orange;
    }
    #menuInicio{
      display: none;
    }
    #menuProducto{
      display: none;
    }
    #navMenu{
      height: 4rem;
    }
    #imagenesNav{
      width: 25%;
  
    }
    #spanlogo2{
      align-items: center;
      justify-content: center;
      text-align: center;
      
     
    }
    #spanlogo1{
      display: none;
    }

  }
  /* dispositivos mas grande */
  @media (min-width:700px){
    
    #menuSecciones{
      display: none;
    }
    #navMenu{
      height: 6rem;
    }
    #imagenesNav{
      width: 25%;
    }
    .container-fluid{
      display: none;
    }
    #spanlogo1{
      width: 45%;
    }

    #spanlogo2{
      display: none;
    }
   
  }