<div class="row" id="contenedorCards">
  <div class="col-md-4 divCard">
    <img class="imagenCard" src="../../../../../assets/Camiseta-Futbol-Alternativa-23_24.png" alt="">
    <h2 class="fw-normal">Camisas</h2>
    <p>Llega a la cancha con la camiseta del xeneize</p>
    <p><a class="btn btn-primary" href="#">Ver más </a></p>
  </div>

  <div class="col-md-4 divCard">
    <img class="imagenCard" src="../../../../../assets/Pantalon-Futbol-Alternativo-23_24.png" alt="">
    <h2 class="fw-normal">Pantalones</h2>
    <p>Juga tus partidos con los colores azul y oro</p>
    <p><a class="btn btn-primary" href="#">Ver más </a></p>
  </div>

  <div class="col-md-4 divCard">
    <img class="imagenCard" src="../../../../../assets/Abrigo-Buzo-3_Tiras_Azul-23_24.png" alt="">
    <h2 class="fw-normal">Abrigos</h2>
    <p>Cubrite del frio en todos lados </p>
    <p><a class="btn btn-primary" href="#">Ver más </a></p>
  </div>
</div>