.container {
    display: flex;
    
    align-items: center;
    padding: 50px;
    text-align: center;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: column;
}
.boton {
    width: 120px;
    margin: auto;
}